*{
  box-sizing: border-box;
}

h1 {
  font-family: "Sekuya", system-ui;
  box-shadow: 10px 5px 5px 0 rgba(255, 251, 146, 0.838);
  color: rgb(255, 236, 66);
}

button {
  border-radius: 5px;
}

body {
  padding: 20px;
  background-color: black;
  color: aliceblue;
}

a {
  color: aliceblue;
}

.light-mode {
  background-color: rgba(255, 254, 237, 0.911);
  color: black;
}

.light-mode h1 {
  box-shadow: 10px 5px 5px 0 rgb(255, 254, 171);
}

.center {
  width: 940px;
  padding: 20px;
  border: 1px dotted white;
  margin: 20px;
}

.poem {
  text-align: left;
}

footer {
  background-image: linear-gradient(to bottom, rgb(216, 210, 255), rgb(143, 161, 255));
  
}

.light-mode footer {
  background-image: linear-gradient(to bottom, rgb(181, 171, 250), rgb(187, 187, 255));
}
.ch{
  background-image: linear-gradient(to bottom, rgb(255, 135, 135), rgb(250, 171, 171), rgb(255, 214, 183));
  color: rgb(255, 255, 255);
  padding: 10px;
  font-family: "Gamja Flower", sans-serif;
}
.dark-mode {
  background-color: rgba(40, 44, 101, 0.733);
}
.dark-mode h1 {
  color: rgb(166, 166, 202);
}

.dark-mode p{
  color: rgb(202, 215, 255);
}
.dark-mode footer{
  background-image: linear-gradient(to bottom, rgb(115, 142, 172), rgb(70, 100, 153));
}
.light-mode #count{
  border-color: rgb(255, 235, 81);
}

#count {
  background-color: rgb(255, 242, 97);
  border: 4px;
  border-color: rgb(127, 158, 184);
  border-style: solid;
  max-width: 140px;
  border-radius: 20px;
}

#count-button {
  text-align: center;
}

#Lcounter {
  background-color: rgb(255, 255, 255);
  text-align: right;
  max-height:100px ;
  border-width: 2px;
  border-color: rgb(255, 250, 189);
  max-width: 130px;
  border-style: solid;
  border-radius: 7px
}